HELP.md
!.mvn/wrapper/maven-wrapper.jar


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

Task 3/node_modules

# testing
/coverage

# production
/build
/dist
# misc
.DS_Store

### VS Code ###
.vscode/

# Task 5 Dataset
complaints.csv

node_modules